@font-face {
    font-family: "Type1";
    src: url(Fonts/FN\ Helal\ Farzana\ Uni&BE\ Italic.ttf);
}
@font-face {
    font-family: "Type2";
    src: url(Fonts/Jamrul.ttf) format('truetype');
}
@font-face{
    font-family: "Content";
    src: url(Fonts/FN-Mahfuj-Raiyan-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    scrollbar-gutter: auto;
}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Type1', sans-serif;
    background-image: url(Green-mountain-landscape-vector-illustration-scenery.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    max-height: 8000px;
    overflow-x: hidden;
}
nav .logo{
    width: 100%;
    align-items: center;
    display: flex;
}
nav{
    flex: 1;
   text-align: right;
}
.pic{
    position: relative;
    width: 3.2%;
    padding-top: 0.7%;
    left:0.8%;
    height: 7vh;
}
nav ul{
    list-style: none;
    display: inline-flex;
}
nav ul li a{
    text-decoration: none;
    color:rgb(55, 51, 51);
    font-size: 24px;
    padding-bottom: 0.3vh;
    margin-right: 5vh;
}
nav ul li a:hover{
    border-bottom: 2.5px solid dodgerblue;
    color: blue;
    z-index: 1;
}

.dark{
    padding-top: 0.5vh;  
}
#title-box{
    background: rgba(255, 255, 255, 0.15);
    box-shadow: -2.2px 2px 15px -8px, 10px 0px 15px -20px;
    width: 23.82%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(0);
    top: 14%;
    float: left;
    height: 43px;
    position: fixed;
    border-radius: 10px;
    left: 1.8%;
    animation: warp1 4s ease;
    overflow: hidden;
}
@keyframes warp1{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(0);      
    }
    51%{
        transform: scale(0.05);
    }
    70%{
        transform: scaleY(1); 
        transform: scaleX(0.05);   
    }
    100%{
        transform: scaleX(1);
        transform: scaleY(1);
    }
}
.title{
    padding-left: 5.8dvw;
    color: rgba(229, 255, 152, 0.808);
    padding-top: 1vh;
    opacity: 0;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    animation: fade1 0.05s 1 forwards;
    animation-delay: 5s;
    outline: none;
    animation: rise 3s linear  forwards;
    animation-delay: 4s;
}
@keyframes rise{
    100%{
        color: rgb(41, 34, 17);
        opacity: 100%;
    }
    50%{
        color: gold;
        opacity: 100%;
        text-shadow: 0 0 10px rgba(206, 213, 145, 0.65),
        0 0 20px rgb(206, 213, 145, 0.65),
        0 0 40px rgb(206, 213, 145, 0.65),
        0 0 80px rgb(206, 213, 145, 0.65),
        0 0 160px rgb(206, 213, 145, 0.65);
    }
    0%{
        color: gold;
        opacity: 100%;
        text-shadow: 0 0 10px rgba(206, 213, 145, 0.65),
        0 0 20px rgb(206, 213, 145, 0.65),
        0 0 40px rgb(206, 213, 145, 0.65),
        0 0 80px rgb(206, 213, 145, 0.65),
        0 0 160px rgb(206, 213, 145, 0.65);
    }
}
@keyframes fade1{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.quote{
    text-align: center;
    float: left;
    width: 22%;
    position: fixed;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: -2.2px 2px 15px -8px, 10px 0px 15px -20px;
    height: 160px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(0);
    border-radius: 15px;
    overflow: hidden;
    left: 1.8%;
    top: 25%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 26px;
    animation: warp 4s ease;
}

.quran{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    width: 71%;
    position: absolute;
    padding-left: 26.5dvw;
    height: 200px;
    align-items: center;
    overflow: hidden;
    top: 14%;
}
.cards{
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    animation: warp2 6s ease forwards;
}
.card{
    width: 50px;
    border-radius: 15px;
    background-size: cover;
    margin: 0 3px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    animation: smth 6s ease;
    transition: 0.7s cubic-bezier(.28, -0.03, 0, 0.99);
}
.card > .row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.card > .row > .number{
    color: white;
    background: #223 !important;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    margin-top: 5.5vh;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.card > .row > .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    font-size: 15px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8),
                 0 0 2px rgba(0, 0, 0, 0.8);
    height: 100px;
    width: 200px;
    opacity: 0;
    transition-delay: 0.7s;
    transition: all 0.7s ease;
}
input{
    display: none;
}
input:checked + label{
    width: 270px;
}
input:checked + label .description{
    opacity: 1 !important;
}
.card[for="c1"]{
    background-image: url(Interior.jpg);
    background-size: cover;
    z-index: 5;
}
.card[for="c2"]{
    background-image: url(Interior2.jpg);
    z-index: 4;
}
.card[for="c3"]{
    background-image: url(Window.jpg);
    z-index: 3;
}
.card[for="c4"]{
    background-image: url(Mecca.jpg);
    z-index: 2;
}
.card[for="c5"]{
    background-image: url(Boat.JPEG);
    background-repeat: no-repeat;
    background-size: 270px;
    z-index: 1;
}
.card[for="c6"]{
    background-image: url(Sunset2.jpg);
    z-index: 0;
}
@keyframes warp2{
    0%{
       
        transform: scale(0);
    }
    45%{
        transform: scale(0);
    }
    48%{
        transform: scale(0.01);   
        transform-origin: left;
    }
    75%{
        transform-origin: left;
        transform: scaleY(1); 
        transform: scaleX(1);
    }
    100%{
        transform-origin: left;
        transform: scaleY(1);
        transform: scaleX(1);
    }
}
@keyframes smth{
    0%{
       margin-right: 0;
    }
    50%{
        
        margin-right: 0;   
          
    }
    51%{
        margin-right: -80px;
    }
    70%{
        transform-origin: left;
        margin-right: -80px;
        
    }
    100%{
        transform-origin: left;
        margin-right: 3px;
    }
}
.line{
    position: relative;
    top: 10px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 1.3;
    padding-bottom: 140px;
    opacity: 0;
    animation: fade 0.1s forwards;
    animation-delay: 4s;
}
@keyframes fade{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

#ni{
    margin-top: 0px;
    opacity: 100%;
}
#san{
    top: 15px;
    line-height: 1.1;
    font-size: 14px;
    opacity: 100%;
}
#four{
    font-size: 16px;
    margin-top: 50px;
    opacity: 100%;
}
#five{
    line-height: 1.1;
    font-size: 14px;
    margin-top: 20px;
    opacity: 100%;
}
#six{
    margin-top: 0px;
    opacity: 100%;
}
#seven{
    margin-top: 10px;
    opacity: 100%;
}
#eight{
    margin-top: 38px;
    opacity: 100%;
}
#nine{
    margin-top: 35px;
    opacity: 100%;
}
#ten{
    margin-top: 25px;
    opacity: 100%;
}

@keyframes warp{
    0%{
       
        transform: scale(0);
    }
    50%{
        transform: scale(0);   
          
    }
    51%{
        transform: scale(0.06);   
    }
    70%{
        transform: scaleX(1); 
        transform: scaleY(0.06);
    }
    100%{
       
        transform: scaleX(1);
    }
}
.line:first-child{
    animation: anim 80s infinite;
    animation-delay: 4s;
}
.line:hover{
    animation-play-state: paused;
}

@keyframes anim{
    0%{
        margin-top: 0;
        opacity: 0;
    }
    0.5%{
        margin-top: 0;
        opacity: 100%;
    }
    3%{
        margin-top: 0;
        opacity: 100%;
    }
    5%{
        margin-top: -266px;
        opacity: 100%;
    }
    8%{
        margin-top: -266px;
        opacity: 100%;
    }
    10%{
        margin-top: -534px;
        opacity: 100%;
    }
    13%{
        margin-top: -534px;
        opacity: 100%;
    }
    15%{
        margin-top: -800px;
        opacity: 100%;
    }
    18%{
        margin-top: -800px;
        opacity: 100%;
    }
    20%{
        margin-top: -1066px;
        opacity: 100%;
    }
    23%{
        margin-top: -1066px;
        opacity: 100%;
    }
    25%{
        margin-top: -1334px;
        opacity: 100%;
    }
    28%{
        margin-top: -1334px;
        opacity: 100%;
    }
    30%{
        margin-top: -1600px;
        opacity: 100%;
    }
    33%{
        margin-top: -1600px;
    }
    35%{
        margin-top: -1866px;
        opacity: 100%;
    }
    38%{
        margin-top: -1866px;
        opacity: 100%;
    }
    40%{
        margin-top: -2134px;
        opacity: 100%;
    }
    43%{
        margin-top: -2134px;
        opacity: 100%;
    }
    45%{
        margin-top: -2400px;
        opacity: 100%;
    }
    48%{
        margin-top: -2400px;
        opacity: 100%;
    }
    50%{
        margin-top: -2660px;
    }
    53%{
        margin-top: -2660px;
    }
    55%{
        margin-top: -2920px;
    }
    58%{
        margin-top: -2920px;
    }
    60%{
        margin-top: -3180px;
    }
    63%{
        margin-top: -3180px;
    }
    65%{
        margin-top: -3440px;
    }
    68%{
        margin-top: -3440px;
    }
    70%{
        margin-top: -3700px;
    }
    100%{
        margin-top: 0;
    }
}
.accordion{
    margin: 10px auto;
    width: 980px;
    position: absolute;
    right: 5dvw;
    top: 7.7dvh;
    float: right;
    animation: anim1 1.4s forwards;
    animation-delay: 0.6s;
}
@keyframes anim1{
    0%{
        width: 980px;
        top: 7.7dvh;
    }
    100%{
        width: 750px;
        top: 53dvh;
    }
}
.accordion li{
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: -2.2px 2px 15px -8px, 10px 0px 15px -20px;
}  
.accordion li label{
    display: flex;
    color: rgb(41, 34, 17);
    align-items: left;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
label::after{
    position: absolute;
    right: -2.5dvw;
    transform: rotate(0deg);
    transition-duration: 0.7s;
    content: url(arrow.svg);
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(41, 34, 17);
}
input[type="checkbox"]{
    display: none;
}
.accordion .content{
    color: rgb(41, 34, 17);
    font-family: "Content";
    padding: 0 10px;
    line-height: 1.5;
    max-height: 0;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    transition: max-height 0.8s, padding 0.8s;
}
.accordion input[type="checkbox"]:checked + label + .content{
    max-height: 60000px;
    padding: 10px 10px 20px;
}
.accordion input[type="checkbox"]:checked + label::after{
    transform: rotate(90deg);
    transition-duration: 0.7s;
}
.highlight{
    color: red;
    text-decoration: underline;   
}

.image{
    position: absolute;
    left: 4dvw;
    width: 350px;
    padding-top: 1vh;
    min-height: 8vh;
    cursor: pointer;
}
.icon{
    display: none;
}
.logo{
    width: 100%;
    height: 13dvh;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
}

.one{
    padding-top: 10px;
    font-weight: 600;
}
.one1{
    padding-bottom: 6px;
    font-family: "Type2";
    font-weight: 550;
    color: darkcyan;
}
.two{
    padding-top: 2px;
}
.two1{
    padding-bottom: 10px;
    font-family: "Type2";
    font-weight: 400;
    color: darkcyan;

}
.three{
    padding-top: 10px;
    font-family: "Type2";
    font-weight: 400;
    color: darkcyan;
}
.three1{
    padding-bottom: 6px;
    font-family: "Type2";
    font-weight: 400;
    color: darkcyan;
}
.three2{
    padding-bottom: 4px;
}
.note{
    text-align: end;
}
.note a{
    color:dodgerblue;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    padding: 1px;
}
.note a:hover{
    border-bottom: dodgerblue 2.5px solid;
}
@media screen and (max-width: 1000px) {
    .accordion{
        position: absolute;
        width: 660px;
        float: right;
    }
    #title-box{
        top: 17%;
    }
    .title{
        left: 8%;
    }
    .quote{
        top: 29%;
    }
    .line{
        font-size: 13.9px;
        line-height: 1.204;
        padding-bottom: 150.36px;
    }
    #ni{
        margin-top: 5px;
        opacity: 100%;
    }
    #san{
        top: 15px;
        line-height: 1.1814;
        font-size: 15.036px;
    }
    #four{
        font-size: 14.816px;
        margin-top: 30px;
        opacity: 100%;
    }
    #five{
        line-height: 1.1814;
        font-size: 13.3px;
        margin-top: 2px;
        opacity: 100%;
    }
    #six{
        margin-top: 0px;
        opacity: 100%;
    }
    #seven{
        margin-top: 15px;
        opacity: 100%;
    }
    #eight{
        margin-top: 40px;
        opacity: 100%;
    }
    #nine{
        margin-top: 35px;
        opacity: 100%;
    }
    #ten{
        margin-top: 20px;
        opacity: 100%;
    }
}
@media screen and (max-width: 550px) {
    .quote{
        display: none;
    }
}
@media screen and (max-width: 380px) {
    body{
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-family: 'Type1', sans-serif;
        background-image: url(Green-mountain-landscape-vector-illustration-scenery.jpg);
        min-height: 100vh;
        background-attachment: fixed;
        overflow-x: hidden;
        scrollbar-gutter: stable;
    }
    nav ul{
        background-color:rgba(255, 255, 220, 0.15);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(10px);
        width: 100%;
        position: absolute;
        top: 10vh;
        right: 0;
        z-index: 2;
    }
    nav ul{
        padding-bottom: 0;
    }
    nav ul li{
        list-style: none;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        cursor: pointer;
    }
    nav ul li a{
        color: rgb(41, 34, 17);
        font-size: 20px;
        list-style: none;
        cursor: pointer;
    }
    .icon {
        display: block;
        margin-right: 3dvw;
        min-width: 10%;
        max-width: 70%;
        min-height: 1vh;
        max-height: 4.8vh;
    }
    
    #list {
        overflow: hidden;
        display: block;
        text-align: center;
        transition: 0.7s;
        z-index: 3;
        margin: 0;
        border: 0;
        left: 0;
        right: 0;
    }
    .accordion{
        width: 310px;
        left: 0;
        right: 4dvw;
        text-align: left;
        z-index: 1;
        padding-right: 10dvw;
        position: absolute;
        top: 7.8vh;
        animation: anim2 1.4s forwards;
        animation-delay: 0.6s;
    }
    @keyframes anim2{
        0%{
            top: 7vh;
        }
        100%{
            top: 45vh;       
        }
    }
    #title-box{
        display: none;
    }
    .title{
        display: none;
    }
    .quote{
        display: none;
    }
    .quran{
        display: none;
    }
    .accordion li{
        list-style: none;
        width: 310px;
        margin: 10px;
        padding: 10px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: -10px 7px 13px -2px rgba(0, 0, 0, 0.5);
    }
    .accordion li label{
        display: flex;
        color: rgb(41, 34, 17);
        align-items: left;
        padding: 4px;
        font-size: 20px;
        font-weight: 100;
        cursor: pointer;
        z-index: 1;
    }
    label::after{
        position: absolute;
        right: 3dvw;
        content: url(arrow.svg);
        margin-right: 5px;
        font-size: 20px;
        font-weight: 50;
        transform: rotate(0deg);
        transition: 0.7s;  
    }
    .accordion .content{
        color: rgb(41, 34, 17);
        text-shadow: none;
        padding: 0 5px;
        line-height: 1.4;
        max-height: 0;
        overflow: hidden;
        font-weight: 600;
        transition: max-height 0.8s, padding 0.8s;
    }
    
    .accordion input[type="checkbox"]:checked + label + .content{
        max-height: 60000px;
        padding: 5px 5px 10px;
    }
    .accordion input[type="checkbox"]:checked + label::after{
        transform: rotate(90deg);
        transition-duration: 0.7s;
    }
    .image{
        position: absolute;
        left: 7.8%;
        min-height: 5vh;
        max-height: 20vh;
        min-width: 10%;
        max-width: 75%;
        padding-top: 0.5%;
    }
    .pic{
        position: relative;
        padding-top: 0;
        top: 0.5vh;
        padding-left: 1.2dvw;
        height: 5vh;
        width: 6.6dvw;
    }
    .logo{
        width: 100%;
        height: 10vh;
        background-color: rgba(0, 25, 25, 0.05);
    }
    .one{
        padding-top: 6px;
        font-weight: 600
    }
    .one1{
        padding-bottom: 4px;
        font-family: "Type2";
        font-weight: 600;
        color: darkcyan;
    }
    .two{
        padding-top: 2px;
        font-weight: 600;
    }
    .two1{
        padding-bottom: 6px;
        font-family: "Type2";
        font-weight: 600;
        color: darkcyan;
    
    }
    .three{
        padding-top: 6px;
        font-weight: 600;
        font-family: "Type2";
        color: darkcyan;
    }
    .three1{
        padding-bottom: 4px;
        font-family: "Type2";
        font-weight: 600;
        color: darkcyan;
    }
    .three2{
        padding-bottom: 4px;
        font-weight: 600;
    }
    .hr{
        background-color: rgba(55, 25, 0, 0.5);
        width: 100%;
        height: 1px;
        
    }
}
